// Search Module
// ### Move to Search Stylesheet later
.search-module{
	padding: 40px 20px;
	
	h2{ margin: 0;}
}

// News Section
.news-section .block{
	text-align: center;
	margin: 20px 0; 
	
	h3{
		color: $merit-orange;
		font-weight: $merit-font-bold;
		text-transform: uppercase;
	}
	img{
		margin: 0 auto;
		border: 2px solid $merit-blue;
	}
	a.button{
		margin-bottom: 20px;
	}
	&:nth-child(3){
		clear:left;
	}
}

// Events
.events-section{
	.single{
		width: 100%;
		min-height: 240px;
		padding: 20px 10px 40px;
		border-bottom: 2px solid $merit-blue;
		position: relative;
		
		@include responsive(tablet){
			min-height: 130px;
		}
	}

			
	h3{
		margin-top: 0;
		font-size: 20px;
		font-weight: $merit-font-bold;
	}
	a.button{
		position: absolute;
		bottom: 25px;
	
	}
}

.events-section,
.news-section{
	a.button.wide{
		display: block;
		position: relative;
		bottom: 0;
		margin: 40px auto;
		clear: both;
		text-align: center;
		max-width: 980px;
	}
}

