#tribe-events-pg-template{
	padding: 0 20px;
}
.tribe-events-month .tribe-events-calendar{
	.type-tribe_events,
	.tribe-events-category-merit,
	.tribe-events-category-special-events{
		background-color: $merit-blue;
	}
	.tribe-events-category-instrumental-music{
		background-color: $merit-wine;
	}
	.tribe-events-category-bridges,
	.tribe-events-category-community{
		background-color: $merit-green;
	} 
	.tribe-events-category-early-childhood{
		background-color: $merit-pink;
	}
	.tribe-events-category-conservatory{
		background-color: $merit-orange;
	}
	.tribe-events-category-summer-camps,
	.tribe-events-category-private-lessons{
		background-color: $merit-yellow;
	}
	.tribe-events-month-event-title{
		a{
			color: #fff;
		}
	}
}
.tribe-events-page-title{
	color: #fff;
	padding: 10px;	
	background: $merit-blue;
}
.tribe-events-calendar div[id*=tribe-events-daynum-], 
.tribe-events-calendar div[id*=tribe-events-daynum-] a{
	background-color: transparent;
	color: #ccc;
	font-size: 18px;
}
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a{
	background-color: $merit-blue;
}
.single-tribe_events{
	&.bridges #masthead{
		background-color: $merit-green;
	}
	&.merit #masthead,
	&.special-events #masthead{
		background-color: $merit-blue;
	}
	&.instrumental-music #masthead{
		background-color: $merit-wine;
	}
	&.early-childhood #masthead{
		background-color: $merit-pink;
	}
	&.conservatory #masthead{
		background-color: $merit-orange;
	}
	&.summer-camps #masthead,
	&.private-lessons #masthead{
		background-color: $merit-yellow;
	}
}
.tribe-events-calendar thead th{
	background: #eee;
	color: $merit-blue;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	border-left: 0px;
	border-right: 0px;
}
.tribe-events-user-recurrence-toggle{
	display: none !important;
}

#featured_events{
	
	.event{
		text-align: center;
		color: $merit-orange;
		margin-bottom: 40px;
	
		img{
			max-width: 100%;
			height: auto;
			border: 2px solid $merit-blue;
		}
	}
}

.tribe-events-page-template #header,
.tribe-events-page-template #footer {
	display: none;
}

.tribe-events-calendar-month__calendar-event-datetime time {
	font-size: 14px !important;
}

ul.bio-links li {
	font-size: 20px;
}

/* Custom Category Colors */
article.cat_concerts .tribe-events-calendar-month__multiday-event-bar {
	/*background-color: cornflowerblue !important;*/
}


article.tribe-events-calendar-month__calendar-event.tribe_events_cat-main-calendar h3,
article.tribe-events-calendar-month__multiday-event.tribe_events_cat-main-calendar .tribe-events-calendar-month__multiday-event-bar-inner,
article.tribe-events-calendar-month-mobile-events__mobile-event.tribe_events_cat-main-calendar h3,
article.tribe-events-calendar-day__event.tribe_events_cat-main-calendar h3,
article.tribe-events-calendar-list__event.tribe_events_cat-main-calendar h3,
article.tribe-events-pro-photo__event.tribe_events_cat-main-calendar h3,
article.tribe-events-pro-map__event-card.tribe_events_cat-main-calendar h3,
article.tribe-events-pro-week-grid__event.tribe_events_cat-main-calendar h3,
article.tribe-events-pro-week-mobile-events__event.tribe_events_cat-main-calendar h3,
article.tribe-events-pro-week-grid__multiday-event.tribe_events_cat-main-calendar h3,
.tribe-events-category-main-calendar .tribe-events-map-event-title a:link,
.tribe-events-category-main-calendar .tribe-events-map-event-title a:visited,
#tribe-events-content div.tribe-events-category-main-calendar.hentry.vevent .tribe-events-tooltip h4.entry-title,
.tribe-grid-body .tribe-events-week-hourly-single:hover.tribe-events-category-main-calendar,
.tribe-grid-body .tribe-events-week-hourly-single.tribe-events-category-main-calendar,
.tribe-grid-allday .tribe-events-week-allday-single.tribe-events-category-main-calendar,
.tribe-events-category-main-calendar h3.tribe-events-list-event-title,
.tribe-events-shortcode .tribe-events-month table .type-tribe_events.tribe-events-category-main-calendar,
.tribe-mini-calendar td.tribe-events-has-events.tribe-events-category-main-calendar,
.tribe-events-adv-list-widget .tribe-events-category-main-calendar h2,
.tribe-venue-widget-list li.tribe-events-category-main-calendar h4,
.events-archive.events-gridview #tribe-events-content table .type-tribe_events.tribe-events-category-main-calendar,
#tribe-events-content .tribe-events-category-main-calendar > .tribe-events-tooltip h3,
.type-tribe_events.tribe-events-category-main-calendar h2,
.tribe-events-category-main-calendar > div.hentry.vevent > h3.entry-title,
.tribe-events-mobile.tribe-events-category-main-calendar h4 {
	background-color: transparent !important;
}

.tribe-events .tribe-events-calendar-month__multiday-event--start .tribe-events-calendar-month__multiday-event-bar {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.tribe-events .tribe-events-calendar-month__multiday-event--end .tribe-events-calendar-month__multiday-event-bar {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.tribe-events-category-main-calendar .tribe_events_cat-main-calendar {
	background-color: #CFCFCF !important;
}
